/* estilos constantes en todo el proyecto */

:root {
    --font: "Open Sans", sans-serif;

    --logo: 32px;
    --title: 24px;

    --lg: 20px;
    --md: 18px;
    --sl: 16px;

    --primry_color: #393939;
    --secundary_color: #CA0101;
    --terniary_color: #FFFBFB;
    --quaternary_color: #D9D9D9;

    --text_color: rgba(57, 57, 57, 0.8);

    --icons_lg: 35px;
    --icons_md: 30px;

    --border_color: #E0DCDC;
}

html{
    font-family: var(--font);
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: minmax(280px, 300px) 1fr;
}


/* Estilos para la barra de navegacion lateral */
header {
    width: max-content;
}

.aside {
    position: fixed;
    width: clamp(280px, 19%, 300px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--terniary_color);
    padding: 34px 0px;
    box-sizing: border-box;
    border-right: 1px solid var(--border_color);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__logo h1{
    font-size: clamp(28px, 1.9vw, var(--logo));
    text-align: center;
    font-weight: bold;
}

.nav__list {
    display: grid;
    grid-template-rows: 1fr;
    gap: 25px;
}

.nav__link{
    font-size: clamp(var(--md), 1.25vw, var(--lg));
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: var(--primry_color);
    text-decoration: none;
    width: auto;
    height: 55px;
    padding: 0 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.1s;
    
}

.nav__list a.nav__link--active {
    color: var(--terniary_color);  
}

.nav__link i svg{
    width: var(--icons_lg);
    height: var(--icons_lg);
    fill: var(--primry_color);
    transition: 0.3s;
}

.nav__link--active {
    background-color: var(--secundary_color);
    color: var(--terniary_color);
    font-weight: bold;
    transition: 0.3s;
}

.nav__link--active i svg {
    fill: var(--terniary_color);
    transition: 0.3s;
}

.nav__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav__admin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__admin img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav__admin h3 {
    font-size: clamp(var(--md), 1.25vw, var(--lg));
    font-weight: 600;
}

.nav__credits {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
}

/* Estilos para todas las secciones */
section {
    width: calc(100vw - 320px);
    position: relative;
    height: 100vh; 
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.sections__title {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secundary_color);
    width: 595px;
    height: 55px;
    color: var(--terniary_color);
    border-radius: 10px 0 0 10px;
    gap: 10px;
    padding: 0 10px;
    position: relative;
    align-self: flex-end;
} 

.sections__title h2 {
    font-size: clamp(var(--lg), 1.25vw, var(--title));
}

.sections__title i svg {
    width: var(--icons_lg);
    height: var(--icons_lg);
    fill: var(--terniary_color);
}






/* Estilos para la primera seccion */
.section__components {
    max-width: 1043px;
    max-height: 875px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section__articule {
    max-width: 497px;
    min-width: 450px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px var(--quaternary_color);
}

.section__articule h2 {
    font-weight: 600;
    font-size: clamp(var(--md), 1.25vw , var(--lg));
}

.articule__container {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 272px;
    gap: 10px;
}

.articule__container img{
    width: 100%;
    height: 80%;
    background-size: cover;
}
.articule__container a {
    background-color: transparent;
    border: none;
    font-size: clamp(var(--sl), 1.1vw , var(--md));
    font-weight: bold;
    color: var(--secundary_color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration: none;
}

.articule__container p {
    font-size: clamp(var(--sl), 1.1vw , var(--md));
    color: var(--text_color);

}

.articule__info {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.articule__download {
    display: flex;
    align-items: center;
}

.articule__download p{
    font-size: var(--md);
    font-weight: 600;
    color: var(--secundary_color);
    width: max-content;
    cursor: pointer;
}

.articule__download i svg {
    width: var(--icons_md);
    height: var(--icons_md);
    fill: var(--secundary_color);
}






/* Estilos para la segunda seccion */

.section__card {
    display: grid;
    grid-template-columns: repeat(3, 345px);
    grid-template-rows: 1fr 360px;
    grid-template-areas: 
    "first_card second_card third_card"
    "first_card fourth_card fourth_card";
    gap: 10px;
    margin-bottom: 15px;
}


/* estilos para la primera card */
.first__card, .second__card, .third__card {
    max-width: 345px;
    height: auto;
    grid-area: first_card;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image {
    width: 100%;
    height: 324px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card__info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--quaternary_color);
    border-radius: 0 0 10px 10px;
}

.first__card span, .second__card span, .third__card span, .fourth__card span {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--secundary_color);
    color: var(--terniary_color);
    text-align: center;
    line-height: 50px;
    font-size:clamp(var(--md), 1.25vw , var(--lg));
    font-weight: bold;
}

.first__card h2, .second__card h2, .third__card h2, .fourth__card h2, .software__option h2 {
    font-size: clamp(var(--md), 1.25vw , var(--lg));
    font-weight: bold;
    color: var(--primry_color);
}

.first__card p, .second__card p, .third__card p, .fourth__card p, .software__paragraphr, .software__option p{
    font-size: clamp(var(--sl), 1.1vw , var(--md));
    color: var(--text_color);
}

.logo__image {
    width: 271px;
    height: 226px;
}

/* Estilos para la segunda y tercera card */

.second__card {
    grid-area: second_card;
}

.third__card {
    grid-area: third_card;
}

/* Estilos para la cuarta card */

.fourth__card {
    grid-area: fourth_card;
}

.card__images {
    display: flex;
}

.fourth__card .card__image {
    width: 350px;
    height: 144px;
    object-fit: cover; 
}

/* Estilos la tercera sección */

.section__software {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(1023px, 1072px);
    grid-template-rows: auto auto;
}

.software__paragraphr {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--quaternary_color);
}

.software__slider img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px;
    margin-bottom: 12px;
}

.software__paragraphr strong{
    color: var(--secundary_color);
    font-weight: 600;
}

.software__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    gap: 35px 20px;
    padding: 20px;
}

.software__option {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 240px;
}

.software__option div {
    display: flex;
    align-items: center;
}

.software__option svg {
    width: 30px;
    height: 28px;
}

.software__option h2 {
    margin-right: 5px;
    font-size: clamp(var(--lg), 1.4vw, 22px); 
    text-align: center;
}

.software__option a {
    color: var(--secundary_color);
    font-weight: bold;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    height: 20px;
    margin-right: 8px;
}

.icon__link svg  {
    width: 17px;
    height: 16px;
}

/* estilos para la ultima seccion */

.section__recommendations {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendations__list {
    width: 664px;
}

.recommendations__item  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    border-bottom: 1px solid var(--quaternary_color);
    padding: 30px;
}

.recommendations__item span {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    font-size: 32px;
    color: var(--terniary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary_color);
}

.recommendations__item p {
    width: 577px;
    font-size: var(--lg);
    color: var(--text_color);
}

@media (max-width: 1600px) and (max-height: 900px) {
    .card__image {
        height: 200px;
    }

    .first__card span, .second__card span, .third__card span, .fourth__card span {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .logo__image {
        height: 200px;
    }

    .software__slider img {
        height: 250px;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .nav__admin img {
        width: 40px;
        height: 40px;
    }

    .section__articule {
        width: 450px;
        height: 160px;
        gap: 5px;
    }

    .articule__container img {
        width: 140px;
        height: 120px;
    }

    .sections__title i svg {
        width: var(--icons_md);
        height: var(--icons_md);
    }

    .software__slider img {
        height: 260px;
        object-fit: cover;
    }
}